.\Домашнее задание 1
.\Домашнее задание 2
.\Шпаргалка. Сайт арт-студии часть 1_ flex-wrap, flex-grow, align-content, align-self.pdf
.\Шпаргалка. Сайт арт-студии часть 2_ flex-shrink, flex-basis, flex, order.pdf
.\Домашнее задание №1
.\Домашнее задание (финал)
.\template-full.png
.\template.png
.\план урока.txt