*{
    margin: 0;
    padding: 0;
}

.nav-menu{
    background: #222222;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
}

.menu-item{
    margin: 20px;
}

.menu-item:hover{
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }

    35%{
        transform: rotate(10deg);
    }

    70%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.social{
    background: #222222;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 300px;
    z-index: 20;
}

.social-item{
    margin: 15px;
}

.header{
    display: flex;
    height: 100vh;
    padding-left: 80px;
}

.header-left, .header-right{
    width: 50%;
    height: 100%;
    display: flex;
}

.dark-blue{
    background: #23536D;
}

.red{
    background: rgb(255 105 105);
}

.yellow{
    background: rgb(255 228 157);
}

.light-blue{
    background: rgb(103 197 226);
    border-bottom-right-radius: 50%;
}

.color{
    width: 50%;
    height: 50%;
}

.header-left{
    flex-wrap: wrap;
}

.header-right{
    flex-direction: column;
    justify-content: space-between;
}

.header-title{
    font-size: 200px;
    font-weight: 300;
    text-align: right;
}

.header-title span{
    font-weight: 700;
}

.header-branches{
    display: flex;
    flex-wrap: wrap;
}

.branch-item{
    width: 50%;
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background: #F0F0F0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
}

.about{
    width: 100%;
    height: 100vh;
    position: relative;
}

.about-content{
    display: flex;
    width: 100%;
    height: 100%;
}

.about-background{
    width: 100%;
    height: 100%;
    background: #ff6969;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-text{
    font-size: 150px;
    font-weight: 700;
    opacity: 0.2;
    padding-left: 90px;
}

.rect1{
    width: 217px;
    height: 222px;
    background-color: #549bc7;
    box-shadow: 10px 10px 0 #1d1d1d;
    border-radius: 0 20px;
    align-self: flex-end;
    margin: 20px;
}

.rect2{
    width: 174px;
    height: 166px;
    background-color: #3993ba;
    box-shadow: 10px 10px 0 #1d1d1d;
    border-radius: 0 20px;
    margin: 20px;
}

.rect3{
    width: 269px;
    height: 174px;
    background-color: #e36fc3;
    box-shadow: 10px 10px 0 #1d1d1d;
    border-radius: 0 20px;
    align-self: flex-start;
    margin: 20px;
}

.about-content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 20px;
}

.about-title{
    font-size: 50px;
    color: white;
}

.about-text{
    font-size: 30px;
    color: white;
}

.about-content-left{
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages{
    width: 100%;
    height: 100%;
    position: relative;
}

.advantages-bg{
    background-color: #FFE49D;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.advantages-title{
    font-size: 50px;
    width: 40%;
    padding-left: 90px;
}

.advantages-text{
    font-size: 40px;
    width: 40%;
}

.advantages-content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages-img{
    width: 40%;
    flex-grow: 1;
    margin-top: 210px;
}

/* .photography{
    display: flex;
    height: 100vh;
    width: 100%;
}

.photography-left{
    background: url(/img/pictures/4th-section-img.png) center/cover no-repeat;
    flex-grow: 1;
}

.photography-right{
    position: relative;
    overflow: hidden;
    flex-grow: 2;
}

.photography-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #23536D;
    z-index: -1;
}
.photography-text{
    width: 500px;
} */